# Template from https://github.com/alrra/dotfiles

# ----------------------------------------------------------------------
# | Linux                                                              |
# ----------------------------------------------------------------------

*~

# ----------------------------------------------------------------------
# | Vim                                                                |
# ----------------------------------------------------------------------

%*
*.sw[a-z]
*.un~
.netrwhist
Session.vim